<app-navigation-bar></app-navigation-bar>

<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100">
      <form class="login100-form validate-form p-l-55 p-r-55 p-t-120">
        <span class="login100-form-title">
          Forgot Password
        </span>

        <div class="formErrorMessage">{{errorMessage1}}</div>
        <div class="wrap-input100  m-b-16">
          <input class="input100" name="email" [disabled]="(style2)" type="email" [(ngModel)]="email" required
            placeholder="Enter your email">
          <span class="focus-input100"></span>
        </div>
        <button class="login100-form-btn m-b-16" (click)="resetPassword()">Get Code</button>

        <div class="second">
          <div class="formErrorMessage">{{errorMessage2}}</div>
          <div class="wrap-input100 validate-input m-b-16">
            <input class="input100" name="email" type="hidden" [(ngModel)]="email" required
              placeholder="Enter your email">
            <span class="focus-input100"></span>
          </div>
          <div class="wrap-input100 validate-input m-b-16">
            <input class="input100" name="code" type="text" [(ngModel)]="code" required placeholder="Enter your code">
            <span class="focus-input100"></span>
          </div>
          <div class="wrap-input100 validate-input m-b-16">
            <input class="input100" name="password" type="password" [(ngModel)]="password" required
              placeholder="Enter new password">
            <span class="focus-input100"></span>
          </div>



          <div class="container-login100-form-btn">
            <button class="login100-form-btn m-b-16" (click)="confirmNewPassword()">Reset Password</button>
          </div>

          <div class="flex-col-c p-t-10 p-b-40">
            <span class="txt1 p-b-9">
              Already have an account?
            </span>

            <a style="color: white;" href="login" class="txt2">
              Login
            </a>
          </div>
        </div>
      </form>
    </div>
    <br>

  </div>
</div>
