<app-navigation-bar></app-navigation-bar>

<div class="body-content">
  <header>
    <main class="wrap">
      <div class="content">
        <span style="color:#f7f7f7;">Rent In Peace</span><br>
        <h2 style="color:#ffffff;">leazeit</h2>
        <p style="color:white;">Find affordable apartments, co-living spaces and much more.</p>
        <a href="property-list/all" class="btn">Explore Now</a>
      </div>
      <div class="img"><img src="../../../assets/home.svg" alt=""></div>
      <!-- <a href='https://pngtree.com/so/hand'>hand png from pngtree.com/</a> -->
    </main>
  </header>
  <app-footer></app-footer>
</div>
